.cart-page {
    margin: 2rem 0;
}

.cart-page .title-section {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--light-gray);
}

.product-column,
.price-column {
    display: flex;
    align-items: center;
}

.product-column img {
    width: 8rem;
    height: 100%;
    vertical-align: middle;
}

.product-column .pc-infor {
    margin-left: 1rem;
}

.cart-page .title-page,
.product-column .pc-infor p:first-child,
.price-column p:first-child,
.total-column p,
.card.card-totals .card-header p,
.card.card-totals .card-body p {
    font-weight: var(--bold);
}

.price-column {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.table,
.card.card-totals .card-header {
    background-color: var(--whitesmoke);
}

.table td,
.table th {
    vertical-align: middle;
}

.table thead tr,
.table tbody tr:not(:last-child) {
    border-bottom: 1px solid var(--gray3);
}

.table thead tr td {
    padding: 1.2rem;
    font-weight: var(--bold);
}

.table tbody tr td,
.card.card-totals .card-header {
    padding: 1.2rem;
}

.table-bordered {
    border: none;
    border-radius: 0.5rem;
    outline: 1px solid var(--gray3);
}

.table-bordered td,
.table-bordered th {
    border: none;
}

.quantity-column {
    display: flex;
    align-items: center;
    background-color: var(--light-gray);
    border-radius: 0.375rem;
}

.quantity-column i {
    color: var(--gray);
    padding: 1rem;
    cursor: pointer;
}

.quantity-column span {
    flex: 1;
    text-align: center;
    padding: 1rem;
}

.card.card-totals .card-body {
    padding: 4rem 2rem;
    text-align: center;
}

.card.card-totals {
    border-radius: 0.5rem;
}

.card.card-totals .card-body a {
    background-color: var(--light-gray);
    display: flex;
    border-radius: 0.375rem;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    color: var(--black);
    font-weight: var(--bold);
    cursor: pointer;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}