@import '../../assets/css/style.css';
.home-page {
    margin: 1rem 0;
}

.custom-link,
.custom-link:hover {
    display: inline-block;
    color: var(--black);
    cursor: pointer;
    padding: 0.375rem 0.75rem;
    text-decoration: none;
    line-height: 1.5;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.home-page .book-list {
    margin-top: 4rem;
}

.home-page .book-list .section-title {
    font-weight: var(--medium);
}

.home-page .book-list .bl-filter,
.home-page .book-list #mainRow .card .card-body .book-title,
.home-page .carousel .card .card-body .book-title {
    font-weight: var(--bold);
}

.home-page .carousel .card .card-body .book-title,
.home-page .book-list #mainRow .card .card-body .book-title {
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.home-page .book-list .bl-showing {
    color: var(--gray);
}

.home-page .book-list .bl-main-filter,
.home-page .book-list #mainRow {
    margin-top: 0.5rem;
}

.home-page .book-list .bl-main-filter .blmf-card {
    border: 0.1rem solid var(--gray2);
    border-radius: 0.25rem;
    padding: 1rem;
}

.home-page .book-list .bl-main-filter .blmf-card:not(:last-child) {
    margin-bottom: 1.25rem;
}

.home-page .book-list .bl-main-filter .blmf-card .blmfc-title {
    font-weight: var(--bold);
    margin-bottom: 0.5rem;
}

.home-page .book-list .bl-main-filter .blmf-card .blmfc-list>li {
    margin-left: 1rem;
}

.home-page .book-list .bl-main-filter .blmf-card .blmfc-list>li:not(:last-child) {
    margin-bottom: 0.5rem;
}

.home-page .book-list #mainRow .card>img,
.carousel .card>img {
    width: 100%;
    max-width: 100%;
    height: 300px;
    vertical-align: middle;
}

.swiper-button-next,
.swiper-button-prev {
    color: var(--gray2) !important;
}

@media only screen and (max-width: 576px) {
    .home-page .book-list #mainRow .card>img,
    .carousel .card>img {
        height: 100%;
    }
}

.swiper-slide {
    height: auto !important;
}