:root {
    --base: 1rem;
    --black: #232b33;
    --white: #ffffff;
    --gray: #888b90;
    --gray2: #b2b5bc;
    --gray3: #dee2e6;
    --light-gray: #e7e9eb;
    --whitesmoke: #f5f7f8;
    --darkblue: #010F9D;
    --font: 'Poppins';
    --thin: 100;
    --extra-light: 200;
    --light: 300;
    --regular: 400;
    --medium: 500;
    --semi-bold: 600;
    --bold: 700;
    --extra-bold: 800;
    --black-w: 900;
}