nav img {
    height: 3.5rem !important;
    width: 13rem;
}

ul li {
    font-size: 18px;
    cursor: pointer;
}

div .navbar-nav .nav-item div.login-btn {
    color: var(--darkblue);
}

div .navbar-nav .nav-item a {
    color: var(--darkblue);
    padding: 12px;
}

div .navbar-nav .nav-item a.active {
    background-color: var(--darkblue);
    color: #f0f0f0;
    padding: 12px;
    border-radius: 0.5rem;
}

div .navbar-nav .nav-item a {
    padding: 12px;
    color: var(--darkblue);
}

div .navbar-nav .nav-item a:hover {
    background-color: var(--darkblue);
    color: #f0f0f0;
    border-radius: 0.5rem;
    -webkit-transition: background-color 400ms linear;
    -ms-transition: background-color 400ms linear;
    transition: background-color 400ms linear;
}

div .navbar-nav .nav-item:hover>a {
    color: #f0f0f0;
}

#accordion .card-body ul {
    padding: 0 !important;
    margin: 0 !important;
}

#accordion .card-body ul li:hover {
    background-color: var(--darkblue);
    color: #f0f0f0;
    border-radius: 0.5rem;
    transition: color .3s ease, background-color .5s linear;
}

#accordion .card-body ul li {
    padding: 4px 6px;
}

.border-right {
    border-right: 2px solid var(--darkblue);
}

.activetab {
    color: var(--darkblue);
}


/* .navbar>.container,
.navbar>.container-fluid,
.navbar>.container-lg,
.navbar>.container-md,
.navbar>.container-sm,
.navbar>.container-xl,
.navbar>.container-xxl {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: end!important;
} */

.avatar-login {
    width: 60px;
    height: 100%;
    border-radius: 50%;
}

.nav-item-user {
    position: relative;
}

.nav-item-user .card-user {
    position: absolute;
    right: -20px;
    top: 70px;
}